body {
	font-family: 'Open Sans', sans-serif;
	color: #565656;
}

/* --------HEADER--------- */
header {
	background-color: #f8f9fb;
}

.logo {
	background-color: #f9fafc;
	margin-top: 29px;
}

#menuColor {
	background-color: #0e3d52;
}

.contactsBg {
	background: url('images/social-bg.png') no-repeat; 
	height:140px; 
	width:443px;
}

.socialList {
	margin: 39px 0 0 205px;
}

.socialList li {
	display: inline-block;
	list-style: none;
	margin-right: 10px;
}

#phoneNumber {
	font-size: 27px;
	font-weight: 700;
	color: #0e3d52;
	padding: 2% 0 0 43%;
}

#emailAdd {
	font-weight: 600;
	font-size: 12px;
	color: #0e3d52;
	padding-left: 258px;
}

.menuNav {
	padding-top: 14px;
}

.menuNav li {
	font-size: 13px;
	display: inline;
	margin-right: 34px;
}

.menuNav li a {
	color: #86a4b1;
	padding-bottom: 7px;
}

.menuNav li a:hover {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	border-bottom: 5px solid #0ea55c;
}

/* --------HOME BODY-------- */
.heroBg {
	background: url('images/home-hero-bg.png') no-repeat;
	height: 600px;
}

article {
	background-color: #ececec;
}

#welcome {
	font-size: 47px;
	color: #fff;
	margin: 22% 0 0 18%;
}

#wealthfarmName {
	font-weight: 700;
	font-size: 56px;
	color: #fff;
	margin: 4% 0 0 31%;
}

#financial {
	font-size: 47px;
	color: #fff;
	margin: 4% 0 0 24%;
}

#playVideo {
	font-size: 42px;
	color: #fff;
	margin: 6% 0 0 53%;
}

.playDiv, .flowerDivBlog, .flowerDivContact {
	position: relative;
}

#playBtn {
	position: absolute;
	top: 347px;
	left: 715px;
}

#flowerBg {
	position: absolute;
	top: 252px;
	left: 723px;
}

.picOne {
	background-color: #d3d3d3;
	height: 230px;
}

.picTwo {
	background-color: #d3d3d3;
	height: 230px;
	margin-bottom: 2%;
}


/* ------- BLOG BODY ------- */
.heroBgBlog {
	background: url('images/blog-hero-bg.png') no-repeat;
	height: 600px;
}

#experienceLine {
	font-size: 42px;
	color: #fff;
	margin: 18% 0 0 14%;
}

#successLine {
	font-weight: bold;
	font-size: 42px;
	color: #fff;
	margin: 4% 0 0 21%;
}

#giveBackLine {
	font-size: 42px;
	color: #fff;
	margin: 4% 0 0 12%;
}

.flowerDivBlog #flowerBgBlog {
	position: absolute;
	top: 106px;
	left: 612px;
}

.blogBodyBg {
	background-color: #ececec;
}

#mainBlogTitle {
	margin: 9% 0 7% 0;
	font-size: 40px;
	color: #474f58;
}

.blogPicOne img {
	height:227px;
	margin-bottom: 3%;
}

.blogPicTwo img {
	height:227px;
	margin-bottom: 3%;
}

.blogPicThree img {
	height:227px;
	margin-bottom: 3%;
}

.blogDetails {
	font-size: 14px;
	color: #565656;
}

.blogTitle {
	color: #005f89;
}

.blogBtn {
	background: url('images/submit-button.png') no-repeat;
	width: 123px;
	height: 43px;
	padding-top: 2%;
	padding-left: 5%;
	margin: 7% 0 7% 0;
}

#topics {
	padding-bottom: 15%;
}

.blogBtn a {
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 14px;
	color: #fff;
}

#sideTitle {
	color: #005f89;
	margin-top: 20%;
}

.sideBarBlogTitle {
	padding-top: 4%;
	color: #005f89;
}

.hrDiv hr {
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 7%;
}

hr {
	border-bottom: 1px solid #dcdcdc;
}

.blogTopics {
	font-size: 12px;
	color: #565656;
	padding-top: 15%;
}

.blogTextArea {
	width: 355px;
}

.blogAuthor {
	font-size: 12px;
	font-weight: bold;
	color: #ababab;
}

.sideDetails, .sideLinks li a, .radioInfo {
	font-size: 14px;
	color: #565656;
}

/* -------- BLOG VIEW ------- */
.heroBgBlogView {
	background: url('images/blog-view-hero-bg.png') no-repeat;
	height: 600px;
}

.blogViewBody {
	background-color: #ececec;
}

#believeLine {
	font-size: 36px;
	color: #fff;
	margin: 27% 0 0 14%;
}

#wealthyLine {
	font-size: 36px;
	font-weight: 800;
	color: #fff;
	margin: 3% 0 0 39%;
}

#simplyLine {
	font-size: 36px;
	color: #fff;
	margin: 2% 0 0 61%;
}

#flowerBgBlogView {
	position: absolute;
	top: 216px;
	left: 948px;
}

.blogMainPic {
	margin-top: 3%;
}

.blogViewIcons img {
	margin-right: 1%;
}

.submitBtnBlogView {
	background: url('images/submit-button.png') no-repeat;
	width: 123px;
	height: 43px;
	padding: 1% 0 5% 5%;
}

.submitBtnBlogView a {
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	font-style: italic;
	color: #fff;
}

/* -------CONTACTS------- */
.heroBgContacts {
	background: url('images/contact-hero-bg.png') no-repeat;
	height:600px;
}

.mainBgContacts {
	background-color: #ececec;
}

.mainBgContacts h1, .mainBgOwners h1, #proTitle {
	color: #474f58;
	margin: 7% 0 5% 0;
}

#findLine {
	font-size: 57px;
	font-weight: 800;
	color: #fff;
	margin: 27% 0 0 50%;
}

#hereLine {
	font-size: 69px;
	color: #fff;
	margin: 6% 0 0 62%;
}

#flowerBgContact {
	position: absolute;
	margin-top: 171px;
	right: 328px;
}

#locIconContacts {
	position: absolute;
	margin-top: 271px;
	right: 434px;
}

#contactSubmitBtn {
	background: url('images/submit-button.png') no-repeat;
	width: 123px;
	height: 43px;
	padding: 10px 0 0 38px;
	margin: 0 0 10% 0;
}

#contactSubmitBtn a {
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	font-style: italic;
	color: #fff;
}

.mainBgContacts form input {
	margin-bottom: 4%;
}

/* -------- BUSINESS OWNERS -------- */
.heroBgOwners {
	background: url('images/business-owners-hero-bg.png') no-repeat;
	height: 600px;
} 

.mainBgOwners {
	background-color: #ececec;
}

.mainBgOwners h3 {
	color: #005f89;
	margin-top: 10%;
}

.listBtn {
	background: url('images/list-btn.png') no-repeat;
	max-width: 100%;
	height: 43px;
	padding: 1% 0 0 4%;
	margin: 3% 0 4% 0;
}

.listBtn a {
	color: #fff;
	font-family: 'Exo' sans-serif;
	font-weight: 800;
	font-style: italic;
}

.liteDeals h5, .packageDeals h5, .packageDeals2 h5, .packageDeals4 h5 {
	color: #474f58;
}

#liteInfo, .packageDeals p, .packageDeals2 p, .packageDeals4 p {
	color: #6d7279;
	font-size: 11px;
}

.packageDeals2, .packageDeals4 {
	background-color: #d4d4d4;
}

#liteInfoBg2, #liteInfoBg4 {
	background-color: #d4d4d4;
}

#price {
	color: #0ea55c;
	font-size: 18px;
	font-weight: 800;
	text-align: right;
}

#prices {
	color: #0ea55c;
	font-size: 18px;
	font-weight: 800;
}

#packageCategories, #blankTd {
	border: none;
	width: 130px;
}

#packageCategories h5 {
	padding-top: 30%;
}

.readMore td:not(#blankTd) {
	background-color: #363636;
	border: 1px solid #dadada;
	text-align: center;
}

.readMore td a {
	font-size: 12px;
	font-weight: 700;
	color: #828282;
}

#findBtn {
	background: url('images/fom-btn.png') no-repeat;
	max-width: 100%;
	height: 71px;
	padding: 7% 0 0 19%;
	margin-top: 12%;
}

#findBtn a {
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 26px;
	color: #fff;

}

.sideBarOwners  h2 {
	color: #005f89;
	margin-left: 4%;
}

.caseStudy h2 {
	color: #005f89;
	margin: 10% 0 4% 6%;
}

.caseStudy {
	background-color: #e3e3e3;
	margin-top: 32%;
}

.quotation, .quotation1, .quotation2 {
	position: relative;
}

#qStart {
	position: absolute;
	margin-left: 10%;
}

#qEnd {
	position: absolute;
	margin: 16% 0 0 37%;
}

#qEnd1 {
	position: absolute;
	margin: 17% 0 0 64%;
}

#qEnd2 {
	position: absolute;
	margin: 11% 0 0 75%;
}

blockquote {
	text-indent: 12%;
	margin-top: 5%;
}

#quoteAuthor {
	font-weight: 700;
	margin-left: 6%;
}

.quote1 {
	margin-top: 9%;
}

.quote2, .quote3 {
	margin-top: 20%;
} 

/* -------- FORM -------- */
.formBg {
	background-color: #acd1e0;
}


.formDiv {
	background: url('images/form-bg.png') no-repeat;
	width: 490px;
	height: 395px;
	margin: 5% 0 6% 7%;
}

.formDiv h5 {
	font-weight: 700;
	font-size: 24px;
	color: #005f89;
	padding-top: 6%;
}

.formDiv p {
	padding-top: 5%;
}

.formDiv #submitBtn{
	background: url('images/submit-button.png') no-repeat;
	width: 123px;
	height: 43px;
	padding-top: 2%;
	margin-left: 37%;
}

.formDiv #submitBtn a {
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	font-style: italic;
	color: #fff;
}

.formDiv #submitBtn a:hover {
	text-decoration: none;
}

.btnEnews {
	margin-left: 88%;
}

.btnRequest {
	margin-left: 84%;
}

.contentBtn {
	background-color: #d3d3d3;
	height: 40px;
	width: 16%;
	margin: 1% 0 0 15%;
}

.contentBtn p {
	padding-top: 5%;
	padding-left: 26%;
}

.ctaBtn {
	background-color: #d3d3d3;
	height: 40px;
	width: 35%;
}

.navList {
	list-style: none;
	padding: 0;
	margin: 0 0 10% 0;
}

.navList li {
	margin-top: 5%;
}

.navList li a {
	font-size: 12px;
	color: #828282;
}

h6 {
	color: #0ea55c;
	margin-top: 71px;
}

.adds {
	margin-top: 72px;
	color: #fff;
}

.caseTitle {
	padding-top: 4%;
}

.contactTextArea {
	width: 457px;
}

.phoneAdd {
	margin-top: 10%;
}

.phoneAdd .contactsInfo {
	color: #005f89;
}

#contactsAdd {
	color: #005f89;
	margin-top: 19%;
}

#contactsHrs {
	color: #005f89;
	margin-top: 19%;
}
.packagePic {
	background-color: #d3d3d3;
	width: 148px;
	height: 130px;
}

#packageTitles th, #planTitles th {
	border: none;
	font-weight: 800;
	text-align: center;
}

.packageDeals, .liteDeals td {
	border: 1px solid #dadada;
}

.subFooter {
	background-color: #363636;
}

address, #telephone {
	color: #828282;
	font-size: 12px;
	padding-left: 20%;
}

.iconImg {
	padding-left: 96px;
}

#socialIconList li {
	display: inline;
	margin-right: 4%
}

.socialIconSubFooter {
	margin: 44% 0 0 26%;
}
/* --------FOOTER---------- */
footer {
	background-color: #363636;
}

.footerPos {
	padding-top: 2%;
}

.footerPos ul li {
	display: inline;
	margin-right: 2%;
}

.footerPos ul li a {
	font-size: 13px;
	color: #828282;
}

#copyRight {
	font-size: 13px;
	padding-bottom: 5%;
	color: #93b1bd;
}
